.loader_container{
    flex: 1;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    flex: 1;
    display: flex;
    width: 100%;

    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
}

/* Menu Container */
.menu_container{
    height: 100%;
    background: var(--background-2);
    width: auto;
    display: flex;
    flex-direction: column;
}

.menu_title{
    color: var(--color-1);
    font-size: calc((100vw + 100vh)/2*0.0225);
    font-family: var(--font-family);
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid var(--background-1);
}

.menu_item_container{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;

}

.menu_item_bottom_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


/* --- */
