

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;

}

.header_container{
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.search_container{
    background: var(--background-2);
    width: 100%;
    
}

.search_input{
    width: 100%;
}


/* Body Container */
.body_container{
    display: flex;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 12px;
    flex-direction: column;
    justify-content: space-between;
}

.table {
    background: var(--background-2);
    width: 100%;
    color: var(--color-1);
    font-family: var(--font-family);
    font-size: calc((100vw + 100vh)/2*0.0225);
    table-layout: fixed;
}

.table :is(th, td) {
    text-align: center;
    word-break: break-all;
}

.table thead{
    border-bottom: 2px solid var(--background-1);
}

.table tbody tr{
    border-bottom: 2px solid var(--background-3);
}


.pagination_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.page_text{
    color: var(--color-1);
    font-family: var(--font-family);
    font-size: calc((100vw + 100vh)/2*0.0175);
    text-align: center;
    font-weight: 600;
}