.loader_container{
    flex: 1;
    margin: auto;
    align-items: center;
    display: flex;
}

.container{
    flex: 1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form_container{
    background: var(--background-2);
    width: min(80%,600px);
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-sizing: border-box;
}

.form_container .form_title{
    font-family: var(--font-family);
    color: var(--color-1);
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: calc((100vw + 100vh)/2*0.0575);
    padding: 12px;
}

.form_container .input_box{
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
}